body {
  font-family: "PT Mono", monospace;
  border: solid;
  border-width: thick;
  margin: 30px 50px;
  padding: 50px 80px;
  border-radius: 280px;
  border-color: rgba(84, 173, 149, 0.6);
  width: 94%;
  background: linear-gradient(to top, #a8edea 0%, #ffd7c9 100%);
}
header {
  margin-bottom: 50px;
}

h1,
h2 {
  text-align: center;
  color: #54ad95;
}

a {
  text-decoration: none;
}

p {
  margin-top: 20px;
  margin-bottom: 0rem;
}

p .text-muted {
  font-size: 13px;
}

div .forecastLow {
  color: #727171;
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 1.5rem !important;
}

li {
  text-transform: capitalize;
  list-style: none;
}

footer {
  text-align: center;
  position: relative;
  bottom: -50px;
  color: #7c7c7c;
}

.container {
  width: 93%;
}

.currentWeatherButton {
  background-color: rgba(84, 173, 149, 0.8);
  color: #fff;
  border-radius: 20px;
  position: relative;
  border-color: rgba(84, 173, 149, 0.8);
  box-shadow: transparent;
  right: -198px;
  top: -19px;
}

.fahrenheitTemp {
  color: #ec6e4c;
  font-size: 12px;
  position: absolute;
  margin-left: 18px;
  margin-top: 4px;
}

.celsiusTemp {
  font-size: 12px;
  color: #7c7c7c;
  position: absolute;
  margin-left: 34px;
  margin-top: 4px;
}

.focalWeather .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.focalWeather .active:hover {
  text-decoration: none;
}

.focalWeather {
  color: #ec6e4c;
  font-family: "Comfortaa", cursive;
  font-size: 3em;
}
.todaysWeather {
  text-align: center;
  border: solid;
  border-radius: 100px;
  border-color: rgba(84, 173, 149, 0.5);
  margin: 36px 446px;
  padding: 25px 42px;
  width: auto;
  display: inline-block;
}

.dailyInformation {
  position: absolute;
  left: 29%;
  top: 218px;
}

.dailyHiLos {
  position: absolute;
  text-align: left;
  left: 27%;
  top: 337px;
}

.searchBar {
  position: absolute;
  top: 64px;
  right: 534px;
}
.card {
  text-align: center;
  background: linear-gradient(to top, #a8edea 0%, #ffd7c9 200%);
}
.card .card-title {
  color: #ec6e4c;
  font-weight: 900;
  background-color: rgba(84, 173, 149, 0.3);
  border-radius: 10px;
  padding: 2px;
}
.card .emoji {
  font-size: xx-large;
}
